
[data-flag="bisexual"]:after {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/3e/Bi_flag.svg);
}

[data-flag="pan"]:after {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/59/Pansexuality_flag.svg);
}

[data-flag="trans"]:after {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b0/Transgender_Pride_flag.svg);
}

[data-flag="gay"]:after {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/68/Gay_flag.svg);
}

[data-flag="mars-attacks"]:after {
    background-image: url(https://s-media-cache-ak0.pinimg.com/736x/75/fa/a2/75faa286f6a89e1a43e6a150bd4f497b.jpg);
}

[data-flag="twitch"]:after {
    background-image: url(http://s.jtvnw.net/jtv_user_pictures/hosted_images/GlitchIcon_purple.png);
}

[data-flag="esa"]:after {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/80/ESA_logo.svg);
}

[data-flag="nasa"]:after {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e5/NASA_logo.svg);
}

[data-flag="mars"]:after {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/ed/Flag_of_Mars.svg);
}

[data-flag="jolly roger"]:after, [data-flag="pirate"]:after {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/47/Pirate_Flag_of_Jack_Rackham.svg);
}

[data-flag="ad"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ad.svg);
}

[data-flag="ae"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ae.svg);
}

[data-flag="af"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/af.svg);
}

[data-flag="ag"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ag.svg);
}

[data-flag="ai"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ai.svg);
}

[data-flag="al"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/al.svg);
}

[data-flag="am"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/am.svg);
}

[data-flag="ao"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ao.svg);
}

[data-flag="aq"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/aq.svg);
}

[data-flag="ar"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ar.svg);
}

[data-flag="as"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/as.svg);
}

[data-flag="at"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/at.svg);
}

[data-flag="au"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/au.svg);
}

[data-flag="aw"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/aw.svg);
}

[data-flag="ax"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ax.svg);
}

[data-flag="az"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/az.svg);
}

[data-flag="ba"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ba.svg);
}

[data-flag="bb"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/bb.svg);
}

[data-flag="bd"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/bd.svg);
}

[data-flag="be"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/be.svg);
}

[data-flag="bf"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/bf.svg);
}

[data-flag="bg"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/bg.svg);
}

[data-flag="bh"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/bh.svg);
}

[data-flag="bi"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/bi.svg);
}

[data-flag="bj"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/bj.svg);
}

[data-flag="bl"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/bl.svg);
}

[data-flag="bm"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/bm.svg);
}

[data-flag="bn"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/bn.svg);
}

[data-flag="bo"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/bo.svg);
}

[data-flag="bq"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/bq.svg);
}

[data-flag="br"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/br.svg);
}

[data-flag="bs"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/bs.svg);
}

[data-flag="bt"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/bt.svg);
}

[data-flag="bv"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/bv.svg);
}

[data-flag="bw"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/bw.svg);
}

[data-flag="by"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/by.svg);
}

[data-flag="bz"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/bz.svg);
}

[data-flag="ca"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ca.svg);
}

[data-flag="cc"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/cc.svg);
}

[data-flag="cd"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/cd.svg);
}

[data-flag="cf"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/cf.svg);
}

[data-flag="cg"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/cg.svg);
}

[data-flag="ch"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ch.svg);
}

[data-flag="ci"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ci.svg);
}

[data-flag="ck"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ck.svg);
}

[data-flag="cl"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/cl.svg);
}

[data-flag="cm"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/cm.svg);
}

[data-flag="cn"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/cn.svg);
}

[data-flag="co"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/co.svg);
}

[data-flag="cr"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/cr.svg);
}

[data-flag="cu"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/cu.svg);
}

[data-flag="cv"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/cv.svg);
}

[data-flag="cw"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/cw.svg);
}

[data-flag="cx"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/cx.svg);
}

[data-flag="cy"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/cy.svg);
}

[data-flag="cz"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/cz.svg);
}

[data-flag="de"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/de.svg);
}

[data-flag="dj"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/dj.svg);
}

[data-flag="dk"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/dk.svg);
}

[data-flag="dm"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/dm.svg);
}

[data-flag="do"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/do.svg);
}

[data-flag="dz"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/dz.svg);
}

[data-flag="ec"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ec.svg);
}

[data-flag="ee"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ee.svg);
}

[data-flag="eg"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/eg.svg);
}

[data-flag="eh"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/eh.svg);
}

[data-flag="er"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/er.svg);
}

[data-flag="es"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/es.svg);
}

[data-flag="et"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/et.svg);
}

[data-flag="fi"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/fi.svg);
}

[data-flag="fj"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/fj.svg);
}

[data-flag="fk"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/fk.svg);
}

[data-flag="fm"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/fm.svg);
}

[data-flag="fo"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/fo.svg);
}

[data-flag="fr"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/fr.svg);
}

[data-flag="ga"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ga.svg);
}

[data-flag="gb"]:after,[data-flag="en"]:after,[data-flag="uk"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/gb.svg);
}

[data-flag="gd"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/gd.svg);
}

[data-flag="ge"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ge.svg);
}

[data-flag="gf"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/gf.svg);
}

[data-flag="gg"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/gg.svg);
}

[data-flag="gh"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/gh.svg);
}

[data-flag="gi"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/gi.svg);
}

[data-flag="gl"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/gl.svg);
}

[data-flag="gm"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/gm.svg);
}

[data-flag="gn"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/gn.svg);
}

[data-flag="gp"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/gp.svg);
}

[data-flag="gq"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/gq.svg);
}

[data-flag="gr"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/gr.svg);
}

[data-flag="gs"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/gs.svg);
}

[data-flag="gt"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/gt.svg);
}

[data-flag="gu"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/gu.svg);
}

[data-flag="gw"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/gw.svg);
}

[data-flag="gy"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/gy.svg);
}

[data-flag="hk"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/hk.svg);
}

[data-flag="hm"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/hm.svg);
}

[data-flag="hn"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/hn.svg);
}

[data-flag="hr"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/hr.svg);
}

[data-flag="ht"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ht.svg);
}

[data-flag="hu"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/hu.svg);
}

[data-flag="id"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/id.svg);
}

[data-flag="ie"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ie.svg);
}

[data-flag="il"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/il.svg);
}

[data-flag="im"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/im.svg);
}

[data-flag="in"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/in.svg);
}

[data-flag="io"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/io.svg);
}

[data-flag="iq"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/iq.svg);
}

[data-flag="ir"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ir.svg);
}

[data-flag="is"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/is.svg);
}

[data-flag="it"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/it.svg);
}

[data-flag="je"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/je.svg);
}

[data-flag="jm"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/jm.svg);
}

[data-flag="jo"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/jo.svg);
}

[data-flag="jp"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/jp.svg);
}

[data-flag="ke"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ke.svg);
}

[data-flag="kg"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/kg.svg);
}

[data-flag="kh"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/kh.svg);
}

[data-flag="ki"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ki.svg);
}

[data-flag="km"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/km.svg);
}

[data-flag="kn"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/kn.svg);
}

[data-flag="kp"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/kp.svg);
}

[data-flag="kr"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/kr.svg);
}

[data-flag="kw"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/kw.svg);
}

[data-flag="ky"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ky.svg);
}

[data-flag="kz"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/kz.svg);
}

[data-flag="la"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/la.svg);
}

[data-flag="lb"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/lb.svg);
}

[data-flag="lc"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/lc.svg);
}

[data-flag="li"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/li.svg);
}

[data-flag="lk"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/lk.svg);
}

[data-flag="lr"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/lr.svg);
}

[data-flag="ls"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ls.svg);
}

[data-flag="lt"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/lt.svg);
}

[data-flag="lu"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/lu.svg);
}

[data-flag="lv"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/lv.svg);
}

[data-flag="ly"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ly.svg);
}

[data-flag="ma"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ma.svg);
}

[data-flag="mc"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/mc.svg);
}

[data-flag="md"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/md.svg);
}

[data-flag="me"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/me.svg);
}

[data-flag="mf"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/mf.svg);
}

[data-flag="mg"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/mg.svg);
}

[data-flag="mh"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/mh.svg);
}

[data-flag="mk"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/mk.svg);
}

[data-flag="ml"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ml.svg);
}

[data-flag="mm"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/mm.svg);
}

[data-flag="mn"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/mn.svg);
}

[data-flag="mo"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/mo.svg);
}

[data-flag="mp"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/mp.svg);
}

[data-flag="mq"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/mq.svg);
}

[data-flag="mr"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/mr.svg);
}

[data-flag="ms"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ms.svg);
}

[data-flag="mt"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/mt.svg);
}

[data-flag="mu"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/mu.svg);
}

[data-flag="mv"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/mv.svg);
}

[data-flag="mw"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/mw.svg);
}

[data-flag="mx"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/mx.svg);
}

[data-flag="my"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/my.svg);
}

[data-flag="mz"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/mz.svg);
}

[data-flag="na"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/na.svg);
}

[data-flag="nc"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/nc.svg);
}

[data-flag="ne"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ne.svg);
}

[data-flag="nf"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/nf.svg);
}

[data-flag="ng"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ng.svg);
}

[data-flag="ni"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ni.svg);
}

[data-flag="nl"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/nl.svg);
}

[data-flag="no"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/no.svg);
}

[data-flag="np"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/np.svg);
}

[data-flag="nr"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/nr.svg);
}

[data-flag="nu"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/nu.svg);
}

[data-flag="nz"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/nz.svg);
}

[data-flag="om"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/om.svg);
}

[data-flag="pa"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/pa.svg);
}

[data-flag="pe"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/pe.svg);
}

[data-flag="pf"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/pf.svg);
}

[data-flag="pg"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/pg.svg);
}

[data-flag="ph"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ph.svg);
}

[data-flag="pk"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/pk.svg);
}

[data-flag="pl"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/pl.svg);
}

[data-flag="pm"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/pm.svg);
}

[data-flag="pn"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/pn.svg);
}

[data-flag="pr"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/pr.svg);
}

[data-flag="ps"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ps.svg);
}

[data-flag="pt"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/pt.svg);
}

[data-flag="pw"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/pw.svg);
}

[data-flag="py"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/py.svg);
}

[data-flag="qa"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/qa.svg);
}

[data-flag="re"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/re.svg);
}

[data-flag="ro"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ro.svg);
}

[data-flag="rs"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/rs.svg);
}

[data-flag="ru"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ru.svg);
}

[data-flag="rw"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/rw.svg);
}

[data-flag="sa"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/sa.svg);
}

[data-flag="sb"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/sb.svg);
}

[data-flag="sc"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/sc.svg);
}

[data-flag="sd"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/sd.svg);
}

[data-flag="se"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/se.svg);
}

[data-flag="sg"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/sg.svg);
}

[data-flag="sh"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/sh.svg);
}

[data-flag="si"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/si.svg);
}

[data-flag="sj"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/sj.svg);
}

[data-flag="sk"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/sk.svg);
}

[data-flag="sl"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/sl.svg);
}

[data-flag="sm"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/sm.svg);
}

[data-flag="sn"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/sn.svg);
}

[data-flag="so"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/so.svg);
}

[data-flag="sr"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/sr.svg);
}

[data-flag="ss"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ss.svg);
}

[data-flag="st"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/st.svg);
}

[data-flag="sv"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/sv.svg);
}

[data-flag="sx"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/sx.svg);
}

[data-flag="sy"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/sy.svg);
}

[data-flag="sz"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/sz.svg);
}

[data-flag="tc"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/tc.svg);
}

[data-flag="td"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/td.svg);
}

[data-flag="tf"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/tf.svg);
}

[data-flag="tg"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/tg.svg);
}

[data-flag="th"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/th.svg);
}

[data-flag="tj"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/tj.svg);
}

[data-flag="tk"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/tk.svg);
}

[data-flag="tl"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/tl.svg);
}

[data-flag="tm"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/tm.svg);
}

[data-flag="tn"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/tn.svg);
}

[data-flag="to"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/to.svg);
}

[data-flag="tr"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/tr.svg);
}

[data-flag="tt"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/tt.svg);
}

[data-flag="tv"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/tv.svg);
}

[data-flag="tw"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/tw.svg);
}

[data-flag="tz"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/tz.svg);
}

[data-flag="ua"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ua.svg);
}

[data-flag="ug"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ug.svg);
}

[data-flag="um"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/um.svg);
}

[data-flag="us"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/us.svg);
}

[data-flag="uy"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/uy.svg);
}

[data-flag="uz"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/uz.svg);
}

[data-flag="va"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/va.svg);
}

[data-flag="vc"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/vc.svg);
}

[data-flag="ve"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ve.svg);
}

[data-flag="vg"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/vg.svg);
}

[data-flag="vi"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/vi.svg);
}

[data-flag="vn"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/vn.svg);
}

[data-flag="vu"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/vu.svg);
}

[data-flag="wf"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/wf.svg);
}

[data-flag="ws"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ws.svg);
}

[data-flag="ye"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ye.svg);
}

[data-flag="yt"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/yt.svg);
}

[data-flag="za"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/za.svg);
}

[data-flag="zm"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/zm.svg);
}

[data-flag="zw"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/zw.svg);
}

[data-flag="eu"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/eu.svg);
}

[data-flag="gb-eng"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/gb-eng.svg);
}

[data-flag="gb-sct"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/gb-sct.svg);
}

[data-flag="gb-wls"]:after {
    background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/gb-wls.svg);
}

[data-flag]:after {
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 28px;
    height:21px;
    content:"";
    margin-left:15px;
}